{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-gradient sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="{% url 'kagai:home' %}">
            <i class="fas fa-heart"></i> Love Proposal
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center gap-2">
            </ul>
        </div>
    </div>
</nav>
